body{
    display :flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#fetch-button{
    height : 50px;
    width : 100px;
    
}
#dog-img-id{
    border : 1px solid black;
    height : 300px;
    width : 300px;
    margin-top : 50px;
    background-size: cover;
}